<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GigaGym"
        tools:targetApi="31">
        <activity
            android:name=".workout.personal.PersonalEquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".workout.personal.PersonalExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".workout.personal.PersonalAddExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".workout.personal.PersonalWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".workout.personal.PersonalListActivity"
            android:exported="false" />
        <activity
            android:name=".workout.personal.PersonalSeachActivity"
            android:exported="false" />
        <activity
            android:name=".workout.personal.PersonalStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".workout.student.StudentConclusionActivity"
            android:exported="false" />
        <activity
            android:name=".workout.student.StudentExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".workout.student.StudentWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".workout.student.StudentListActivity"
            android:exported="false" />
        <activity
            android:name=".streak.PersonalStreakActivity"
            android:exported="false" />
        <activity
            android:name=".streak.StudentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".streak.StudentStreakActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditEmailActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".chatbot.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".routine.StudentRoutineActivity"
            android:exported="true"/>
        <activity
            android:name=".routine.PersonalRoutineActivity"
            android:exported="false" />
        <activity
            android:name=".login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".login.UserDataActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:exported="false"/>
        <activity android:name=".login.LoginActivity" />
    </application>

</manifest>